<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube Downloader</title>
    <link rel="stylesheet" href="../static/stylesheet.css">
</head>
<body>
    <div class="container">
        <h1>Youtube Downloader</h1>
    </div>
    <form method="POST">
        <label for="data">What is your Youtube Link: </label>
        <input type="text" name="data" required>
        <button type="submit">Download</button>
    </form>
    {% if error %}
        <p id="error">Error! Details: {{ error }}</p>
    {% endif %}
    <footer>Made with 💝 by superhenryman</footer>
</body>
</html>